@{    
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <div class="card border border-success border-3 shadow-lg">
    <h1 class="alert-danger">@DateTime.Now</h1>
    <h2 class="fw-bolde">This is the time of the day and what day it is displayed by Month, Day and Year from the server this app is on.</h2>
  </div>
</div>
